<html>
<head><title></title>
<style>
table,th,td
{
border:1px solid black;
}
</style>
</head>

<body>
	<h2>Selection Criteria:</h2>
	{% load form_tags %}
	<form id="tag_add_form" action="network_data.html" method="post"
	enctype="multipart/form-data">{%csrf_token%}
	{% selection_table selection_pack 'network_data.html'%}
	</form>
	{% if selection_pack %}
	<table style="width:1400px">
	<tr>
	{% for header in selection_pack.row_header %}
	{% if header == 'Date' %}
			<th style="width:200px">
	{% elif header == 'Controller_Name' %}
			<th style="width:150px">
	{% else %}
			<th style="width:50px">
{% endif %}
{{header}}</th>
{% endfor %} 
</tr>
{% for row in selection_pack.data_rows %}
<tr>
{% for value in row %}
<td>{{value}}</td>
{% endfor %}
</tr>
{% endfor %}

</table>
{% else %}
    <p>No Selection PAck Pack</p>
{% endif %} 
<p>{{output_str}}</p>
</body>
</html>
<html>
<head><title></title></head>

<body>

{{ content }}

</body>
</html>
